* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(180, 180, 180);
}

.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo-area{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo-area p{
  font-size: 18px;
}

.logo img{
  width: 500px;
}

/* h1 {
  text-align: center;
  font-size: 5rem;
  margin-right: 20%;
  color: rgb(0, 0, 0);
} */
.login-wrapper {
  /* border: 1px solid red; */
  padding: 5em;
}
#id-box,
#ps-box {
  background-color: white;
  width: 30rem;
  height: 4rem;
  padding: 0 1rem;

  &:focus::placeholder {
    transform: translate(-2%, -90%);
    transition: transform 0.2s ease-out;
    font-size: auto;
  }
}

label {
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.forgot-ps > a {
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
}

.login-btn {
  width: 30rem;
  height: 3rem;
  color: white;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    background-color: darkorange;
  }
}
