* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(180, 180, 180);
}

input::placeholder {
  font-size: 16px; 
}

input:focus-visible::placeholder {
  font-size: 10px; 
  margin: 100px 20px;
}

input:focus-visible{
  outline: none; /* 기본 아웃라인 제거 */
  box-shadow: 0 0 5px 2px rgba(115, 50, 236, 0.5); 
}

.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo-area{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo-area p{
  font-size: 18px;
}

.logo img{
  width: 500px;
}

/* h1 {
  text-align: center;
  font-size: 5rem;
  margin-right: 20%;
  color: rgb(0, 0, 0);
} */
.login-wrapper {
  padding: 5em;
}

.input-wrapper h4{
  margin-bottom: 5px;
}

.input-wrapper input{
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(155, 155, 155);
}

.id-wrapper{
  margin-bottom: 20px;
}

#id-box,
#ps-box {
  background-color: white;
  width: 30rem;
  height: 4rem;
  padding: 0 1rem;
  position: relative;

  &::placeholder {
    transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  }


  &:focus::placeholder {
    transform: translateY(-1rem);
    font-size: 10px;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 18px; 
  height: 18px; 
  border: 1px solid #793AFF;
  border-radius: 50px;
  background-color: white;
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  background-image: url(/assets/images/circle-check-solid.svg);
  /* background-color: #793AFF; */
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.remember-box{
  display: flex;
  align-items: center;
}

.remember-box input{
  margin-right: 6px;
  cursor: pointer;
}

.forgot-ps > a {
  color: black;
  text-decoration: none;
}

.forgot-ps > a:hover{
  color: #793AFF;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 30rem;
  height: 3rem;
  padding: 33px 0;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #793AFF;
  cursor: pointer;
  &:hover {
    background-color: #5127ad;
  }
}

@media screen and (max-width: 48rem) {
  .container{
    flex-flow: column;
  }
  .logo-area{
    width: 88vw;
    height: 12vh;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  .login-wrapper{
    padding: 3rem;
  }

  .logo img{
    width: 270px;
  }

  .logo-area p {
    font-size: 12px;
  }
  .input-container{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  #id-box,
  #ps-box {
    width: 20rem;
    height: 4rem;
    padding: 0 1rem;
    position: relative;

    &::placeholder {
      transition: transform 0.2s ease-out, font-size 0.2s ease-out;
    }

  }
  .input-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  .input-wrapper h4{
    margin-bottom: 5px;
  }
  
  .input-wrapper input{
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(155, 155, 155);
  } 

  .login-btn{
    width: 20rem;
  }

  .info-container{
    margin-top: 2rem;
  }
}