* {
  margin: 0;
}
header {
  min-height: 134px;
  border-bottom: 1px solid rgb(179, 179, 179);
  margin-bottom: 80px;
  /* display: none; */
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header*/
#menu-bars {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
.logo-img {
  cursor: pointer;
}

.input-box {
  width: 373px;
  height: 41px;
  border-radius: 10px;
  padding: 0 1em;
  background-color: #eeeeee;

  &::placeholder {
    text-align: center;
  }
}
.search-icon {
  position: relative;
  right: -22em;
  top: 0em;
  z-index: 9999;
}
.navbar-wrapper {
  display: flex;
}
.btn-items {
  margin: 0 10em;
}

.login-btn,
.resister-btn {
  width: 80px;
  height: 37px;
  margin-left: 1em;
  border: 1px solid #793aff;
  border-radius: 10px;
  color: #793aff;
  cursor: pointer;
  &:hover {
    background-color: #793aff;
    color: white;
  }
}

#watch-list-btn {
  border: none;
  outline: none;
  margin-right: 1em;
}
.star-img {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/*mobile*/
.mobile-container {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  display: none;
}
.input-wrapper {
  display: flex;
  /* height: 100vh; */
}

.close-btn-container {
  margin-bottom: 2em;
}
.close-btn {
  width: 16px;
  height: 16px;
  border: none;
  font-size: 100%;
  line-height: normal;
  cursor: pointer;
  color: black;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
}

#mobile-input-box {
  margin: 0px;
  padding: 1px 40px 0px 10px;
  vertical-align: middle;
  width: 100%;
  border: 1px solid rgb(120, 120, 120);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  font-size: 1rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: normal;
  height: 35px;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 1px 40px 0px 10p;
  vertical-align: middle;
  border-radius: 3px;
  margin-right: 1em;
}
.mobile-input-btn {
  width: 35px;
  height: 35px;
  color: white;
  font-size: 11px;
  background-color: rgb(86, 123, 149);
  border: rgb(50, 104, 145);
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  padding-block: 1px;
  padding-inline: 6px;
  transition: all 0.6s ease 0s;
  border-radius: 3px;
}
.mobile-list-items {
  list-style: none;
  padding: 0;
}

.mobile-item {
  color: black;
  padding: 24px 0;
  cursor: pointer;
  &:hover {
    background-color: burlywood;
  }
}

/*toggle-section*/
.toggle-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle-text {
  color:gray;
  margin-right:10px;
  font-weight: 600;
}

/* 오늘의 하이라이트 */
.highlight-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.highlights{
  display: flex;
  flex-flow: column;
}

.highlights .highlight-area {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 474px;
  height: 294px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 30px 30px 20px 30px;;
  box-sizing: border-box;
  box-shadow: 0 2px 8px #38556450;
  overflow: hidden;
}

.section-title{
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.highlight-areas{
  display: inline-flex;
}

.area-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* 공통 슬라이더 속성 */
.slide-container {
  height: 100%;
  /* border: 1px solid blue; */
  overflow: hidden;
}

.slide-wrapper {
  width: 100%;
  display: flex;
  transition: transform 1s;
}

.slide-content {
  width: 100%;
  flex: 0 0 100%;
}

.slide-pagination {
  display: flex;
  justify-content: center;
}

.slide-dot {
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 50px;
  background-color: #cccccc;
  cursor: pointer;
}

.slide-dot.active {
  background-color: #793aff;
}

.slide-dot:hover {
  background-color: gray;
}

.news_slide-container {
  height: 170px;
  overflow: hidden;
}

.news_slide-wrapper {
  width: 100%;
  display: flex;
  transition: transform 1s;
}

.news_slide-content {
  width: 100%;
  flex: 0 0 100%;
}

.news_slide-pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.news_slide-dot {
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 50px;
  background-color: #cccccc;
  cursor: pointer;
}

.news_slide-dot.active {
  background-color: #793aff;
}

.news_slide-dot:hover {
  background-color: gray;
}

/* 지금, 가장 뜨거운 코인, 차가운 코인 top3 */
.topcoin-wrapper {
  height: 100%;
}

.topcoin-container {
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topChart{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.coin-left {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.coin-names {
  display: flex;
  align-items: center;
}

.coin-rank {
  margin-right: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}

.coin-name {
  margin-right: 12px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.coin-name .coin-img-size {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  margin-right: 5px;
}

.coin-symbol {
  font-weight: 600;
  color: #9a9999;
}

.coin-24h {
  font-weight: 600;
}

/* #hot-container {
  background-color: rgba(255, 192, 203, 0.178);
}

#cold-container {
  background-color: rgba(135, 207, 235, 0.192);
} */
#third-container {
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(255, 250, 205, 0.151); */
}

/* 코인 시황 */
.table-container{
  width: 100%;
}

.coin-chart {
  width: 1414px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table thead tr {
  background-color: none;
  color: text;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: right;
}

.content-table td:nth-child(3),
.content-table th:nth-child(3) {
  text-align: left;
}


.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: none;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #dddddd;
}

.fav-star-img{
  background-color: none;
  background: none;
}

/* 공포 탐욕 지수*/
.area-wrapper {
  display: flex;
  justify-content: center;
}

.area-box {
  display: flex;
  width: 177px;
  justify-content: center;
  margin-top: 2em;
  position: relative;
  cursor: pointer;
}

.greed-img {
  width: 278px;
  height: 140px;
}
.feargreed-result-box {
  position: absolute;
  top: 3.3rem;
  right: 3.2rem;
}

.feargreed-result-box .feargreed-num {
  font-size: 2.5rem;
}

.feargreed-result-box .feargreed-result {
  font-size: 0.8rem;
  color: darkgray;
}

.feargreed-num,
.feargreed-result {
  text-align: center;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > li > a,
.pagination>a
{
    background-color: white;
    color: black;
}

.pagination>a:hover{
  color: #793aff;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #793aff;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #793aff;
    border: solid 1px #793aff;
}

.pagination > .active > a:hover
{
    background-color: #793aff;
    border: solid 1px #793aff;
}

.fav-button {
  border: none;
  background-color: white;
  background:none;
}

.page-item .page-link:hover {
  cursor: pointer;
}

.indicator {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 9999px;
  border: 2px solid white;
  transform-origin: 140px;
  transform: rotate(150deg);
  position: relative;
  left: -100px;
  top: 1px;
  display: none;
}

.scroll-to-top {
  position: fixed;
  right: 16px;
  bottom: 76px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(13, 20, 33);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  z-index: 9999;
  opacity: 0.85;
  outline: none;
  align-items: center;
  justify-items: center;
}

.scroll-to-top:hover {
  opacity: 0.7;
}

.icon-up {
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
  background-image: url(../assets/images/up_white.png);
}

.greed-img {
  transform-origin: center;
  color: black;
}

.list-items {
  list-style: none;
  display: flex;
  margin-top: 1.3em;
}

.list-items li {
  margin: 0 2em;
  cursor: pointer;
  font-weight: 900;
}

.greed-title-box {
  background-color: white;
}
.result-greed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-area {
  border: none;
  border-radius: 10px;
}

.news {
  display: flex;
}

.news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.more {
  color: #793aff;
  font-weight: 800;
  cursor: pointer;
  font-size:small;
}

.news-img {
  width: 165px;
  height: 115px;
  margin-right:10px;
}

.news-pagination-nav {
  display: flex;
  justify-content: center;
}
.news-pagination {
  margin-top: 1.5em;
  display: flex;
}

input[type="radio"] {
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100% !important;
  outline: none;
  cursor: pointer;
  background-color: #cccccc;
}

input[type="radio"]:checked {
  background-color: #793aff;
  border: none;
  box-shadow: 0;
}

input[type="radio"]:hover {
  background-color: gray;
  border: none;
  box-shadow: 0;
}

/*DARK MODE*/
.dark-toggle {
  width: 20px;
  height: 20px;
}

.dark-mode {
  background-color: #0d1421;
  color: white;
}

.dark-mode .scroll-to-top {
  position: fixed;
  right: 16px;
  bottom: 76px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: white;
  color: rgb(255, 255, 255);
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  z-index: 9999;
  opacity: 0.85;
  outline: none;
  align-items: center;
  justify-items: center;
}

.dark-mode .icon-up {
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
  background-image: url(../assets/images/up_black.png);
}

.dark-mode .highlight-area {
  background-color: #222531;
}

.toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #793aff;
}

.toggleSwitch.active {
  background: #793aff;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 44px);
  background: #fff !important;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.highlights.active {
  display: none;
}

.coin-img-size {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-right: 5px;
}

.higher {
  color: green;
}

.lower {
  color: red;
}

.same {
  color: black;
}

/* footer */
footer{
  margin-top: 100px;
  background-color: rgba(241, 241, 241, 0.541);
  /* border-top: 1px solid #c0c0c0; */
}

.footer-container{
  padding: 70px 160px 60px 130px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-logo img{
  width: 200px;
}

.footer-menu-area{
  display: flex;
  margin-top: 15px;
}

.footer-menu-group{
  display: flex;
}

.footer-menu-group:first-child{
  display: flex;
  margin-right: 70px;
}

.footer-menu{
  margin-right: 70px;
}

.footer-menu:last-child{
  margin-right: 0;
}

.menu-title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.menu-item{
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.menu-item:hover{
  color: rgb(83, 83, 83);
}

.copyright{
  margin-top: 100px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(128, 126, 126);
}

/* footer */
footer{
  margin-top: 100px;
  background-color: rgba(241, 241, 241, 0.541);
  /* border-top: 1px solid #c0c0c0; */
}

.footer-container{
  padding: 70px 160px 60px 130px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-logo img{
  width: 200px;
}

.footer-menu-area{
  display: flex;
  margin-top: 15px;
}

.footer-menu-group{
  display: flex;
}

.footer-menu-group:first-child{
  display: flex;
  margin-right: 70px;
}

.footer-menu{
  margin-right: 70px;
}

.footer-menu:last-child{
  margin-right: 0;
}

.menu-title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.menu-item{
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.menu-item:hover{
  color: rgb(83, 83, 83);
}

.copyright{
  margin-top: 100px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(128, 126, 126);
}


/* 모바일 버전 */
@media screen and (max-width: 48rem) {
  /* header */
  #dark-toggle {
    display: none;
  }

  #menu-bars {
    display: block;
    font-size: 2rem;
    margin-right: 1em;
    &:hover {
      cursor: pointer;
    }
  }

  #mobile-search {
    display: block;
  }

  .input-box {
    display: none;
  }

  .navbar-wrapper ul {
    display: none;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .login-btn,
  .resister-btn {
    display: none;
  }
  label {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }
  
  /* highlights */
  .highlights {
    display: grid;
    /* grid-gap: 30px; */
    flex-direction: column;
    align-items: center;
  }
  .section-title {
    font-size: 20px;
  }
  .highlight-areas{
    flex-flow: column;
  }
  .highlights .highlight-area{
    width: 352px;
    height: 229px;
    margin-bottom: 20px;
  }
  .area-title{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .toggle-section{
    padding-right: 25px;
  }
  .toggleSwitch{
    width: 50px;
    height: 25px;
  }
  .toggleSwitch .toggleButton{
    width: 20px;
    height: 20px;
  }
  .toggle-text{
    font-size: 14px;
  }


  /* 뜨거운 코인 차트 */
  .topChart{
    font-size: 13px;
  }
  .coin-name .coin-img-size{
    width: 28px;
    height: 28px;
  }
  .slide-dot{
    width: 6px;
    height: 6px;
  }

  .priority-2 {
    display:none;
  }

  .coin-chart {
    width:100vw;
  }

  /* footer */
  .footer-container{
    padding: 50px 20px;
  }
  .footer-top{
    flex-flow: column;
  }
  .footer-logo{
    margin-bottom: 40px;
  }
  .footer-menu-area{
    flex-flow: column;
  }
  .footer-menu-group{
    display: flex;
  }
  .footer-menu-group:first-child{
    margin-bottom: 50px;
  }
  .footer-menu-third{
    margin-right: 117px;
  }
}
